<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>Editar Corretor</title>
    </head>

    <body>
        <h1>Edição de Corretor</h1>
        <%- include("partials/header") %>
            <div class="container mt-5 pt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-6 m-auto">
                        <div class="card my-2 py-2">
                            <h3 class="mx-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                    fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                    <path
                                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                    <path
                                        d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                </svg>
                            Edição </h3>
                            <div class="mb-3 card-body">
                                <form id="atualizaCorretorForm" onsubmit="false">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="nome2">Novo nome:</label>
                                            <input type="text" class="form-control mb-2" placeholder="Nome Atual: <%= corretor.nome %>" name="nome" id="nome" value="<%= corretor.nome %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Novo Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Email Atual: <%- corretor.email %>" name="email" value="<%- corretor.email %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="tel">Novo Telefone:</label>
                                        <input type="text" class="form-control" id="telefone" maxlength="11" onkeyup="formatarCelular(this)" placeholder="Telefone Atual: <%- corretor.telefone %>" name="telefone" value="<%- corretor.telefone %>">
                                        <div>
                                        
                                            <div class="form-group">
                                                <label for="localidade">Nova Localidade:</label>
                                                <input type="text" class="form-control" id="localidade" placeholder="Localidade Atual: <%-  corretor.localidade %>" name="localidade" value="<%-  corretor.localidade %>">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-2">Atualizar Corretor</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.getElementById('atualizaCorretorForm').addEventListener('submit', function (event) {
                event.preventDefault(); 

                const corretorId = '<%= corretor.id %>'; 
                const formData = {
                    nome: document.getElementById('nome').value,
                    email: document.getElementById('email').value,
                    telefone: document.getElementById('telefone').value,
                    localidade: document.getElementById('localidade').value,
                };
                fetch(`/corretor/${corretorId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Dados do corretor atualizados com sucesso!');
                            window.location.href = '/corretor'; 
                        } else {
                            alert('Erro ao atualizar dados do corretor.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro na requisição:', error);
                        alert('Erro na requisição ao servidor.');
                    });
            });

            function formatarCelular(input) {
        // Remove todos os caracteres não numéricos
        var telefone = input.value.replace(/\D/g, '');
      
        // Insere os parênteses, espaço e traço nos lugares corretos
        telefone = telefone.replace(/(\d{2})(\d{5})(\d{4})/, '($1)$2-$3');
      
        // Atualiza o valor do campo de entrada com o telefone formatado
        input.value = telefone;
      }
        </script>
    </body>

</html>