<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Imóveis</title>
    <script>
        function deletaVenda(vendaId){
            if(confirm("Deseja realmente deletar esta venda?")){
                fetch(`/venda/${vendaId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if(response.ok){
                        alert("Venda deletada com sucesso.");
                        location.reload();
                    } else {
                        alert("Não foi possível deletar a venda.");
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <%- include('../partials/header') %>
                <h2>Listar vendas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <% if (vendas.length > 0) { %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Comprador</th>
                                    <th scope="col">Dono</th>
                                    <th scope="col">Corretor</th>
                                    <th scope="col">propriedade</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Forma de pagamento</th>
                                    <th scope="col">Parcelas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% vendas.forEach(venda => { %>
                                    <tr>
                                        <td><%= venda.comprador.nome %> <%= venda.comprador.sobrenome %></td>
                                        <td><%= venda.dono.nome %> <%= venda.dono.sobrenome %></td>
                                        <td><%= venda.corretor.nome %></td>
                                        <td><%= venda.propriedade.rua %>, Nº <%= venda.propriedade.numero %>, <%= venda.propriedade.bairro %> - tipo: <%= venda.propriedade.tipo %></td>
                                        <td>R$ <%= venda.valor %></td>
                                        <td><%= venda.forma_pagamento %></td>
                                        <td><%= venda.qtd_parcelas %></td>
                                        <td>
                                            <a class="btn btn-primary" href="/editar-venda/<%= venda.id %>">Editar</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" onclick="deletaVenda('<%= venda.id %>')">Deletar</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <p>Nenhuma venda realizada.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
