<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script>
        function deletaCliente(cliId){
            if(confirm("Certeza que gostaria de excluir um cliente do sistema? essa operação é irreversível?")){
                fetch(`/cliente/${cliId}`, {
                    method: "DELETE"
                })
                .then(response => {
                    if(response.ok){
                        alert("Cliente removido com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao remover cliente!");
                    }
                })
            }
        }
        function editarCliente(cliId) {
        window.location.href = `/editarCliente/${cliId}`;
    }
    </script>
    <title>Cliente</title>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="container-fluid">
        <h1 class="text-center">CLIENTE</h1>
    <div class="col-20 text-center p-3 m-g">
        <a href="/cadastraCliente"><button class="btn btn-primary">Cadastrar Cliente</button></a>
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome Cliente</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% clientes.forEach(cliente => { %>
                    <tr>
                        <td><%- cliente.nome %></td>
                        <td><%- cliente.cpf %></td>
                        <td><%- cliente.endereco %></td>
                        <td><%- cliente.email %></td>
                        <td><%- cliente.telefone %></td>
                        <td>
                            <button class="btn btn-primary" onclick="editarCliente('<%= cliente.id %>')">EDITAR</button>
                            <button class="btn btn-danger" onclick="deletaCliente('<%= cliente.id %>')">EXCLUIR</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
